.header {
  position: fixed;
  width: 80%;
  z-index: 1;
  background-color: #000;
  color: #fff;
  left: 20%;
  padding-left: 20px;
}

.header.list-closed {
  width: 100%;
  left: 0%;
}

button {
  margin-right: 10px;
}

.map {
  height: 100vh;
  width: 80%;
}

.map.list-closed {
  width: 100%;
}

.place {
  
}

.info {
  width: 200px;
  height: 100px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 25px;
}

.place-marker {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: 115px;

  border-radius: 50%;
  border: 8px solid #f76764;
  width: 8px;
  height: 8px;
  background-color: #812c27;
}

.place-marker::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #f76764;
}

.list {
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
}

.list ul {
  list-style: none;
}

.list.list-closed {
  width: 0%;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
}

li img {
  width: 250px;
}

li h2 {
  font-size: 16px;
}

li h3 {
  font-size: 14px;
}