/* For Mobile - portrait, 700px and down */

@media screen and (orientation: portrait) and (max-width: 700px) {

	.header {
		font-size: 13px;
		padding-left: 10px;
		vertical-align: center;
		left: 85%;
	}

	button {
		font-size: 20px;
		margin-right: 10px;
	}

	.filter-text {
		margin-left: 20px;
	}

	input {
		margin-left: 20px;
	}

	.map {
		width: 15%;
	}

	.list {
		width: 85%;
	}

	.list ul {
		padding-left: 20px;
	}

}